<ion-header>
  <ion-toolbar color="primary">

    <ion-row>
        <ion-col size="1" style="text-align:left;"> 
            <div (click)="goToHome();"><i class="fas fa-chevron-left"></i></div>
          </ion-col>
      <ion-col size="10"> 
          <!-- ion-card-title ion-title -->
        <ion-title>News by Periode & Category</ion-title>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="isLoading"><ion-spinner name="bubbles"></ion-spinner></div> 
  <ion-grid class="welcome-card">
    <ion-row  justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <ion-card>
          <div padding>            
            <ion-row padding>             
              <ion-label><b>Group Category</b></ion-label>
            </ion-row>
            <ion-row>
              <ion-select class="myCustomSelect" [(ngModel)]="groupCategoryModel" (ionChange)="onGroupCategoryChange()" >
                <ion-select-option [value]="Opsi.category_set" *ngFor="let Opsi of groupCategoryOption">
                  {{Opsi.descriptionz}}
                </ion-select-option> 
              </ion-select> 
            </ion-row>              
            <ion-row padding>
              <ion-label><b>Sub Category</b></ion-label>
            </ion-row>
            <ion-row>
              <ion-select class="myCustomSelect" [value]="subCategoryModel">
                <ion-select-option [value]="Opsi.category_id" *ngFor="let Opsi of subCategoryOption">
                  {{Opsi.category_id}}
                </ion-select-option> 
              </ion-select>
            </ion-row>

            <ion-row Padding>
              <ion-label><b>Priode</b></ion-label>
            </ion-row>
            <ion-row>
              <!-- <ion-select class="myCustomSelect" value="1" okText="Ok" cancelText="Cencel"> -->
              <ion-select class="myCustomSelect" (ionChange)="onChange($event.target.value)" [(ngModel)]="periodModel" okText="Ok" cancelText="Cencel">
                <ion-select-option value="1">Yesterday</ion-select-option>
                <ion-select-option value="2">Last Week</ion-select-option>
                <ion-select-option value="3">Last Month</ion-select-option>
                <ion-select-option value="4">Last Year</ion-select-option>
              </ion-select>            
            </ion-row>
          </div>
          <div padding>
            <ion-button size="large" expand="block" (click)="filter()">Filter</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
