<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Today's News Cliping</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content padding>
  Todays News Cliping
</ion-content> -->


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let article of articles">      
      {{article.title}}
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="scrollLoad($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>