<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
        <ion-col size="1" style="text-align:left;"> 
            <div (click)="dismiss();"><i class="fas fa-chevron-left"></i></div>
          </ion-col>
      <ion-col size="10"> 
        <ion-title>Today's News Cliping</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<!-- <ion-content padding>
  Todays News Cliping
</ion-content> -->




<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let article of articles">      
      <a href = "#" onclick="return false" (click)="openModal(article)">
        {{article.title}}
      </a>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="scrollLoad($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

